<div class="bannerAlone blurBack lateralNav" id="chatList">
    <div class="pseudoNav">
        <button class="secondaryBt" onclick="openMenu('chatList')"><i class="fas fa-arrow-circle-left"></i> Conversas <i class="fas fa-comment-alt"></i></button>
    </div>
    <div class="navComp"></div>
    <div class="scrVertical scrSlave" style="min-width: 330px !important;">
        <img src="/static/source/lenny_licse.svg">
        Você não possui nenhuma conversa ainda...<br>Converse com o Licse agora!
        <button class="primaryBt">Nova conversa <i class="fas fa-plus-circle"></i></button>
    </div>
</div>