<div class="bannerAlone bannerExpand messageBannerArea" id="openedChat">

    <div class="bannerExpand scrVertical scrSlave" style="padding: 56px 0px 16px 0px !important; align-items: end !important; max-width: 880px !important;">
        <div class="messageArea" id="messageArea">
            <div class="senderMessage">
                <span>
                    <p>Texto</p>
                </span>
            </div>
            <div class="senderMessage">
                <span>
                    <p>Texto</p>
                </span>
            </div>
            <div class="senderMessage">
                <span>
                    <p>Texto</p>
                </span>
            </div>
            <div class="senderMessage">
                <span>
                    <p>Texto</p>
                </span>
            </div>
            <div class="senderMessage">
                <span>
                    <p>Texto</p>
                </span>
            </div>
            <div class="senderMessage">
                <span>
                    <p>Texto</p>
                </span>
            </div>
            <div class="senderMessage">
                <span>
                    <p>Texto</p>
                </span>
            </div>
            <div class="senderMessage">
                <span>
                    <p>Texto</p>
                </span>
            </div>
        </div>
    </div>
    
    <div class="promptInput" style="max-width: 880px !important;">
        <form class="inlineForm">

            <input id="prompt" type="text" name="prompt" placeholder="Fale com Licse..." value="" required class="inputPrompt">

            <button type="submit" class="primaryBt">Enviar<i class="fas fa-paper-plane"></i></button>
        </form>
        <p class="discretText">O Licse aprende com a comunidade, pode gerar informações tendenciosas</p>
    </div>
    
</div>