<nav>
    <img src="static/source/icon.svg" height="32px">
    {% if emailver == True %}
        <button class="secondaryBt" onclick="openMenu('chatList')">Conversas <i class="fas fa-comment-alt"></i></button>
    {% endif %}
    <span class="bannerExpand"></span>
    <button class="secondaryBt" onclick="openPop('userMenuPop', this)">{{ session.get('fullName', '').split(' ')[0] }} <i class="fa-regular fa-user"></i></button>
    <!-- <i class="fa-regular fa-user"></i> -->
    <!-- <i class="fa-solid fa-user"></i> -->
    
    <div class="menuPop hideElement blurBack" id="userMenuPop">
        
        <div>
            <img src="static/source/icon.svg" height="92px">
            <h3>Olá, {{ session.get('fullName', '').split(' ')[0] }}!</h3>
            <div class="divider"></div>
            {% if emailver == True %}
            <button class="secondaryBt" onclick="">
                <i class="fa-solid fa-star"></i>
                {{ session.get('points', '') }} ponto(s)
            </button>
            {% endif %}
            {% if emailver == True %}
            <button class="secondaryBt" onclick="">
                <i class="fa-solid fa-circle-exclamation"></i>
                {{ session.get('redflags', '') }} penalidade(s)
            </button>
            {% endif %}
            <button class="secondaryBt" onclick="window.location.href = 'https://www.licse.com/'">
                <i class="fa-solid fa-sitemap"></i>
                Apresentação
            </button>
            <button class="secondaryBt" onclick="window.location.href = 'https://licse.petrolina.ifsertao-pe.edu.br/'">
                <i class="fas fa-book"></i>
                API
            </button>
            <button class="secondaryBt discretWarnBt" onclick="window.location.href = '/logout'">
                <i class="fa-solid fa-door-open"></i>
                Sair da sessão
            </button>
        </div>
        
    </div>
    <div class="hoverAll hideElement" onclick="openPop('userMenuPop', this)" id="hoverAll"></div>
</nav>