<div class="obfsALL hideElement" id="globalObfsPopDialog">
    <div class="popDialog" id="globalPopDialogArea">
        <button class="secondaryBt" onclick="closePopDialog()">Cancelar</button>
        <div class="divider"></div>
        <h2 id="globalTitlePopDialogArea">Titulo</h2>
        <p id="globalDescrPopDialogArea">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum at quasi rem voluptas sequi temporibus eius, quod ipsum reiciendis aperiam voluptatem natus, itaque atque harum, animi sit adipisci quaerat velit.</p>
        <div class="divider"></div>
        <button class="primaryBt" id="globalGoBtPopDialogArea">Prosseguir</button>
    </div>
</div>