<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/gui.css">
    <title>Licse You - Ambiente</title>
</head>
<body style="background-image: url('/static/source/background_furry_sunflower_home.png'); background-size: cover;">
    {% include 'modules/splash.html' %}
    {% include 'modules/aguarde.html' %}
    <script src="/static/scripts/fun.js"></script>
    <script src="/static/scripts/req.js"></script>
    
    {% include 'modules/nav.html' %}
    {% if emailver == True %}
    <div class="htvBody">
        {% include 'modules/chat_list.html' %}
        <div class=" bannerAlone bannerExpand hideElement">
            <img src="/static/source/icon.svg" height="360px">
            <h1>Licse You</h1>
            <h3> {{ session.get('fullName', '') }} </h3>
        </div>
        {% include 'modules/chat_area.html' %}
        {% include 'modules/account.html' %}
    </div>
    {% else %}
    <div class="htvBody">
        <div class=" bannerAlone bannerExpand ">
            
            <div class="scrVertical scrSlave">
                <div class="navComp"></div>
                <img src="/static/source/why_icon.svg" height="148px">
                <h3> Olá, {{ session.get('fullName', '') }}! </h3>
                <h1>Verifique seu email</h1>
                <p style="max-width: 400px;">Para continuar usando o Licse You, você precisa verificar o seu email.<br> No ato do cadastro, foi enviado um email, você pode tentar vê-lo na sua caixa de spam, caso não encontrar, tente enviar novamente.</p>
                <button class="primaryBt" onclick="sendVerEmail(); document.getElementById('loadingAll').classList.remove('hideElement');">Enviar email novamente <i class="fas fa-paper-plane"></i></button>
                <p style="max-width: 400px;">Depois de verificar o seu email, atualize esta página.</p>
                <button class="secondaryBt discretWarnBt" onclick="location.reload();">
                    <i class="fa-solid fa-door-open"></i>
                    Atualizar página
                </button>
                <p style="max-width: 400px;">Se este email é falso, não é seu, ou é um email temporário, exclua essa conta o mais breve possivel.</p>
                
                <button class="secondaryBt discretWarnBt" onclick="openPopDialog('Deletar sua conta?', 'Você não será capaz de recuperar suas conversas, isto é uma ação irreversível!', 'deleteAc(); closePopDialog(); document.getElementById(\'loadingAll\').classList.remove(\'hideElement\');', 'danger')">
                    <i class="fas fa-skull-crossbones"></i>
                    Excluir conta
                </button>
                
                <div class="divider"></div>
                
                <h6>© 2023 Licse Project - by Sam Mahonri and IFSertãoPE</h6>
            </div>
        </div>
    </div>
    {% endif %}
    
    {% include 'modules/beta_warn.html' %}

    {% include 'modules/notif.html' %}
    
    <script>
        callColor("{{ session.get('favColor', '#7c5dc5') }}");
    </script>
    {% include 'modules/pop_dialog.html' %}
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
 
            {% for category, message in messages %}
                <script>
                    notifArea('{{ category }}', '{{ message }}')
                </script>
            {% endfor %}
 
        {% endif %}
    {% endwith %}
    
    <!-- 
    {% set status = status | default('') %}
    {% if status == 'LICSE_SUCCESS' %}
    <script>
        notifArea('SUCCESS', 'Ação conluída com êxito')
    </script>
    {% elif status == 'LICSE_ERROR' %}
    <script>
        notifArea('ERROR', 'Ocorreu algum erro ao completar a ação!')
    </script>
    {% endif %}
    {% set status = '' %}
    -->
</body>
</html>