@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
:root{
    --background_dark_color: rgb(36, 34, 41);
    --background_dark_color_2: rgba(36, 34, 41, 0.956);
    --sec_dark_color: rgb(55, 51, 66);
    --text_dark_color: rgb(220, 226, 234);
    --current_bg_color: var(--background_dark_color);
    --current_txt_color:  var(--text_dark_color);
    --current_user_color: #7c5dc5;
    --current_user_color_2: #7c5dc52b;
    --error_color: #e62169;
    --error_color_2: #e621694b;
    --success_color: #43af7d;
    --success_color_2: #43af7d60;
    --round_value: 22px;
}

body, html{
    transition-duration: 0s !important;
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0px;
    top: 0px;
    left: 0px;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    margin: 0px;
}

h1{
    font-size: 25pt;
    font-weight: 800;
}

h2{
    font-size: 18pt;
}

h3{
    font-size: 16pt;
}

h4{
    font-size: 14pt;
}
.scrVertical{
    overflow-y: scroll;
}

.previewWarn{
    z-index: 2000;
    opacity: 0.4;
    background-color: var(--background_dark_color_2);
    padding: 8px;
    border-radius: 8px;
    position: fixed;
    bottom: 16px;
    left: 16px;
    font-size: 7pt;
}.previewWarn > *{
    font-size: 7pt;
}.previewWarn:hover{
    opacity: 0.7;
}

*{
    color: var(--current_txt_color);
    font-family: 'Geologica', sans-serif;
    transition-duration: 0.3s;
    text-align: center;
    font-size: 11pt;
}


body{
    background-color: var(--current_bg_color);
    
}

.htvBody{
    display: flex;
    flex-direction: row;
    background-position: center;
}

.bannerAlone{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    overflow: hidden;
}

.bannerExpand{
    flex: 1;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}



label{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px 0px 16px 0px;
    font-size: 10pt;
}

.formAlone{
    width: 100%;
    max-width: 378px;
    padding: 16px;
    border-radius: 16px;
    box-sizing: border-box;
}

input{
    outline: none;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.256);
    border: solid 2px transparent;
    border-radius: var(--round_value);
    width: 100%;
    box-sizing: border-box;
}

.colorPica{
    cursor: pointer;
    height: 32px;
    width: 32px;
    border: none;
    border-radius: 50%;
}.colorPica:hover{
    box-shadow: 0 0 0 4px var(--current_user_color_2);
    scale: 120%;
    border-radius: var(--round_value);
}

.colorSelector{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 2px var(--current_user_color);
    padding: 8px;
    border-radius: var(--round_value);
    background-color: var(--current_user_color_2);
}

.purple{
    background-color: #7c5dc5;
}

.green{
    background-color: #43af7d;
}

.orange{
    background-color: #ee6d3e;
}

.blue{
    background-color: #4b7af1;
}

.red{
    background-color: #e62169;
}

.campoFlutuante{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -16px;
    /*
    min-height: 72px;
    max-height: 72px;
    */
}

.campoFlutuante > label{
    position: relative;
    translate: 0px -39px;
    pointer-events: none;
    font-size: 11pt;
    padding: 5px 12px 5px 12px;
    border: solid 2px transparent;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.campoFlutuante > input:focus + label,
.campoFlutuante > input:not(:placeholder-shown) + label{
    translate: 0px -64px;
    background-color: var(--current_user_color);
    scale: 80%;
}



.campoFlutuante > input:focus + label{
    translate: 0px -77px;
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}

.campoFlutuante > input:focus{
    border-color: var(--current_user_color);
    box-shadow: 0 0 0 4px var(--current_user_color_2);
    translate: 0px -4px;
    margin-top: 22px;
}

.invalidInput{
    box-shadow: 0 0 0 4px var(--error_color_2) !important;
    border-color: var(--error_color) !important;
}

.campoFlutuante > input:not(:placeholder-shown){
    margin-top: 16px;
}

input[type="color"] {
    /* Estilize a aparência da seta da caixa de seleção */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    background: var(--current_user_color); /* Cor de fundo padrão */
    border: none;
    border-radius: 50%; /* Torna-o um círculo */
    cursor: pointer; /* Altera o cursor ao pairar sobre ele */
}

.primaryBt, .secondaryBt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 11pt;
    border: none;
    cursor: pointer;
    border-radius: var(--round_value);
}.primaryBt:hover, .secondaryBt:hover{
    translate: 0px -2px;
}

.primaryBt{
    padding: 12px 16px 12px 16px;
    background-color: var(--current_user_color);
}.primaryBt:hover{
    box-shadow: 0 0 0 4px var(--current_user_color_2);
}

.secondaryBt{

    padding: 8px 16px 8px 16px;
    background-color: var(--current_user_color_2);
}.secondaryBt:hover{
    background-color: var(--current_user_color);
}

.blurBack{
    backdrop-filter: blur(8px);
    background-color: rgba(40, 35, 46, 0.848);
}

.navComp{
    min-height: 58px !important;
}

@media (max-width:770px) {  
    .bannerBrand{
        display: none;
    }
    .lateralNav{
        position: fixed;
        height: 100%;
        top: 0;
    }
    .rightNav{
        right: 0px;
    }

    .leftNav{
        left: 0px;
    }
}

.scrSlave{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    gap: 8px;
    padding-bottom: 128px !important;
    padding-top: 64px !important;
    box-sizing: border-box;
}

.loadingAll{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.845);
    backdrop-filter: blur(8px);
    flex-direction: column;
    z-index: 2007 !important;
}

.notifArea{
    position: fixed;
    left: 16px;
    bottom: 16px;
    max-width: 360px;
    z-index: 2010 !important;
}

.loadingSpot{
    background-color: var(--sec_dark_color);
    padding: 22px;
    display: flex;
    gap: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingSpin{
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 4px solid var(--current_user_color_2);
    border-top: 4px solid var(--current_user_color);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    animation: spin 0.5s linear infinite;
    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spinInv {
    0% { 
        transform: rotate(360deg);

        opacity: 0.6;
    }
    50%{

        opacity: 1;
    }
    100% { 
        transform: rotate(0deg); 

        opacity: 0.6;
    }
    
}

.fadeIn{
    animation: fadeIn 0.2s ease-in-out forwards;
}

.fadeOut{
    animation: fadeOut 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes fadeOut {
    0% { opacity: 1;}
    100% { opacity: 0;}
}

.hideElement{
    display: none !important;
}

.errorAlert{
    display: flex;
    box-sizing: border-box;
    padding: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--error_color);
    border-radius: 16px;
}

* {
    scrollbar-color: var(--current_user_color) transparent; /* cor do scroll thumb e do track */
}

*::-webkit-scrollbar {
    width: 4px; /* largura da barra de rolagem inteira */
}

*::-webkit-scrollbar-track {
    background: transparent; /* cor da área de rastreamento */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--current_user_color); /* cor do scroll thumb */
}

.discretErrorMessage{
    background-color: var(--error_color_2);
    font-size: 10pt;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}.discretErrorMessage::before{
    content: '';
    background-image: url('/static/source/error_icon.svg');
    min-height: 52px;
    min-width: 52px;
    background-size: contain;
}

.discretSuccessMessage{
    background-color: var(--success_color_2);
    font-size: 10pt;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    max-width: 400px;
}.discretSuccessMessage::before{
    content: '';
    background-image: url('/static/source/success_icon.svg');
    min-height: 52px;
    min-width: 52px;
    background-size: contain;
}

nav{
    position: fixed;
    background-color: var(--background_dark_color_2);
    width: 100%;
    height: 58px;
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    z-index: 1000;
    border-bottom: solid 1px var(--current_user_color);
    box-shadow: 0 0 16px var(--background_dark_color_2);
}



.pseudoNav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: var(--current_user_color_2);
    border-bottom: solid 1px var(--current_user_color);
    box-sizing: border-box;
    box-shadow: 0 0 16px var(--current_user_color);
}

.lateralNav{
    width: 330px;
    z-index: 1002;
}

.menuPop{
    z-index: 100 !important;
    position: fixed;
    right: 16px;
    top: 72px;
    padding: 16px;
    border-radius: 22px;
    border-top-right-radius: 4px;
    box-shadow: 0 0 16px var(--background_dark_color_2);
    border: 1px solid var(--current_user_color);
    
}.menuPop > div{
    
    display: flex;
    flex-direction: column;
    width: 256px;
    gap: 8px;
}

.discretWarnBt{
    background-color: var(--error_color_2) !important;
}.discretWarnBt:hover{
    background-color: var(--error_color) !important;
}


.hoverAll{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100lvi;
    height: 100vh;
    z-index: 50 !important;
    background-color: transparent;
}

.justFadeHide{
    animation: 0.3s fadeOut forwards ease-in-out;
}

.justFadeShow{
    animation: 0.3s fadeIn forwards ease-in-out;
}

.opening{
    overflow: hidden;
    animation: 0.3s opening forwards ease-in-out;
}

.hideAll{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background_dark_color);
    gap: 16px;
    box-sizing: border-box;
    
}

.closing{
    overflow: hidden;
    animation: 0.3s closing forwards ease-in-out;
}

.openingLateral{
    overflow: hidden;
    animation: 0.3s openingLateral forwards ease-in-out;
}

.closingLateral{
    overflow: hidden;
    animation: 0.3s closingLateral forwards ease-in-out;
}

@keyframes fadeIn {
    from{ opacity: 0; }
    to{ opacity: 1; }    
}

@keyframes fadeOut {
    from{ opacity: 1; }
    to{ opacity: 0; }    
}

@keyframes openingLateral {
    from{
        max-width: 0px;
        opacity: 0.5;

    }
    to{
        max-width: 330px;
        opacity: 1;

    }    
}

@keyframes opening {
    from{
        max-height: 0px;
        opacity: 0.5;
        translate: 0 -16px;
    }
    to{
        max-height: 720px;
        opacity: 1;
        translate: 0 0px;
    }    
}

@keyframes closingLateral {
    from{
        max-width: 330px;
        opacity: 1;
    }
    to{
        max-width: 0px;
        opacity: 0;
        
    }    
}


@keyframes closing {
    from{
        max-height: 720px;
        opacity: 1;
        translate: 0 0px;
    }
    to{
        max-height: 0px;
        opacity: 0;
        translate: 0 -32px;
        
    }    
}

.divider{
    min-height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, transparent, var(--current_user_color), transparent);
    margin-top: 12px;
    margin-bottom: 12px;
}

.popMenuBt{
    background-color: transparent !important;
    border: solid 1px var(--current_user_color_2);
}.popMenuBt:hover{
    border-radius: var(--round_value) !important;
    background-color: var(--current_user_color_2) !important;
}

.obfsALL{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.69);
    backdrop-filter: blur(8px);
    z-index: 2006;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
}

.popDialog{
    max-width: 350px;
    background-color: var(--background_dark_color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border-radius: 16px;
    border: solid 1px var(--current_user_color);
}

.splashStart{
    transition-duration: 0 !important;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--current_bg_color);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2010 !important;
}